@import ~style/variables

\:host
  width: $commonWidth
  display: block
  fa-icon
    font-size: 600px
    width: 150px

.front-image
  width: 300px
  color: $bg
  display: block
  position: absolute
  top: 0
  left: 0
  overflow: hidden
  opacity: .9
  transition: height 2s
.back-image
  width: 300px
  color: #fff
.label
  top: 45%
