\:host
  //display: block
  min-height: 600px

#fvg
  height: 35%
  background-color: #fff
  //margin: -100px
  img
    //margin: 100px
#title
  height: 65%
  overflow: hidden
#candidates
  background-color: #cc0013 !important
