<div class="container-no-gutters">
  <div id="" class="section overflow-hidden">
    <div id="fvg" class="row justify-content-left skew-left">
      <img src="../../../public/images/fvg.png" />
    </div>

    <div id="title" class="row justify-content-center skew-left z-2">
      <div class="bg-primary w-100 text-right p-5">
        <h1 class="unskew-left m-5 p-5">La politica e' donna</h1>
      </div>
    </div>
  </div>

  <!-- <div id="title" class="row justify-content-center section bg-secondary no-gutters h-100">
    <div class="bg-primary skew-left p-5">
      <div class="bg-primary unskew-left p-5">
        <h1>La politica e' donna</h1>
      </div>
    </div>
  </div> -->

  <div *ngIf="totals[currentYear]" id="candidates" class="row justify-content-center section bg-primary no-gutters h-100 z-1">
    <div class="col">
      <h2>CANDIDATI</h2>
      <p>Candidate donne <span class="text-success">{{totals[currentYear].candidatesF}}</span></p>
      <p>Candidati uomini <span class="text-success">{{totals[currentYear].candidatesNumber - totals[currentYear].candidatesF}}</span></p>
    </div>
    <div class="col">
      <year-slider></year-slider>
      <!-- <year-slider *ngIf="FVG_URLS" [min]="FVG_URLS[1][1]" [max]="FVG_URLS[FVG_URLS.length -1][1]" [currentYear]="currentYear" (selectedYear)="changeYear($event)"></year-slider>
     --></div>
  </div>

  <!-- <div id="" class="row justify-content-center section bg-primary no-gutters h-100 z-1">
    <h2>Sindaci eletti</h2>

  </div> -->

</div>
