\:host
  min-height: 600px

#fvg
  height: 35%
  background-color: #fff
#title
  height: 65%
  overflow: hidden

.square
  width: 6rem
  height: 6rem
  line-height: 5.5rem
.square-smll
  width: 4rem
  height: 4rem
  line-height: 2.5rem
